/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #1A1A1A;
}

h1 {
    font-size: 3.5rem;
    line-height: 4rem;
    padding-bottom: 20px;
    font-weight: 400;
}

h2 {
    display: inline-block;
    font-weight: 500;
    font-size: 1.6em;
    text-underline-offset: 8px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 3rem;
    color: #FFF;
}

p {
    line-height: 1.5rem;
}

p.baseline {
    font-size: 1.2rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header .logo {
    height: 45px;
    width: auto;
}

nav {
    width: auto;
    font-size: .8m;
    font-weight: 400;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav li {
    display: inline-block;
    padding: 0 10px;
}

nav li a {
    text-decoration: none;
    color: #1A1A1A;
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 500px;
    background-image: url("../images/landing.jpg");
    background-size: contain;
    color: #FFF;
}

#banner .hero-text {
    max-width: 600px;
}

#features {
    padding: 30px 0px;
    text-align: center;
}

#features h2 {
    text-decoration-color: #00B172;
}

#features h3 {
    color: #00B172;
}

.features-list {
    display: flex;
    margin: 70px 0;
    justify-content: space-around;
}

.feature-item {
    max-width: 180px;
}

.features-list p {
    color: #888;
}

.feature-icon {
    width: 80px;
    height: auto;
}

#how-to {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 20px 20px;
    color: #FFF;
    padding: 50px 70px;
    background-color: #00B172;
    background-image: url("../images/spotify-icon-white.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
}

#how-to h2 {
    text-decoration-color: #FFF;
    padding-bottom: 30px;
}

#how-to .steps {
    width: 60%;
}

#how-to .app-preview {
    width: 40%;
    text-align: center;
}

#how-to img {
    width: 80%;
    border-radius: 4px;
}

#how-to h3 {
    padding-top: 25px;
    padding-bottom: 15px;
}

#how-to p {
    max-width: 250px;
}